@font-face {
    font-family: NowRegular;
    src: url(fonts/Now-Regular.otf);
  }

@font-face {
    font-family: NowMedium;
    src: url(fonts/Now-Medium.otf);
}

@font-face {
    font-family: NowBold;
    src: url(fonts/Now-Bold.otf);
}

@font-face {
    font-family: NowLight;
    src: url(fonts/Now-Light.otf);
}

@font-face {
    font-family: NowThin;
    src: url(fonts/Now-Thin.otf);
}


body {
    font-family: NowLight;

    background-color: #0A0A0A;
}

::-webkit-scrollbar {
    display: none;
}

h1{
    font-family: NowBold;
    font-size: 10vw;
}

h2 {
    font-family: NowBold;
    font-size: 2rem;
}

p{
    font-family: NowLight;
    font-size: 1rem;
}
a {
    text-decoration: none;

}
a:hover {
    text-decoration: none;
}

.pl-6 {
    padding-left: 10vw;
}

.pr-6 {
    padding-right: 10vw;
}

.pt-6 {
    padding-top: 10vw;
}


/* The Beginning */
.beginning {
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#enter {
    
    background: url(imgs/closeddoor.png) no-repeat ;
    background-size: contain;
    background-position: center;
    border: none;
    width: 250px;
}

#enter:hover {
    background: url(imgs/opendoor.png) no-repeat;
    background-size: contain;
    background-position: center;
}
#enter img{
    width: 250px;
    opacity: 0%;
}


/* Navbar */
#mainNavbar {
    font-family: NowThin;
    font-size: 1.2rem;  
}

#mainNavbar .nav-link {
    color: white;
    font-size: 1.2rem;
}
#mainNavbar .nav-link:hover {
    color: #A9EFE9;
}

#mainNavbar .light .nav-link {
    color: white;
    font-size: 1.2rem;

}
#mainNavbar .light .nav-link:hover {
    color: #D1D1D1;
    background-color: #0A0A0A;
}


.nav-item{
    padding-right: 50px;
}
.navbar.scrolled {
    background-color: #000000;
    transition: background 500ms;
}

.navbar-brand img{
    width: 60px;
}




/* Landing */


#hero {
    height: 60vw;
    background: url(imgs/background.png) no-repeat;
    background-size: cover;
}


.container-fluid {

    height: 51.3vw;
    margin-top: 0px;
    padding-top: 0%;

}





#intro img{
    width: 30vw;
}

#projects {
    width: 3vw;
}

#thisway {
    width: 3vw;
}

.container-fluid .inner{
    height: 25vw;
    margin-top: 15%;
}



#dots {
    width: 15vw;
}

#juice {
    width: 8vw;
    max-width: 5rem;
}

#me {
    margin-top: -35vw;
    width: 30vw;
}






/* Section 1 */

#section1 {
    background: url(imgs/background1.png) no-repeat;
    background-size: contain;
    background-position-x: center;
}
#vstripe1 {
    width: 0.3vw;
}

#section1foil {
    width: 7vw;
}

#LI {
 width: 20vw;
}


.smallup {
    margin-top: -5%;
}
.up {
    margin-top: -15%;
}

.upMore {
    margin-top: -30%;
}

.down {
    margin-top: 13%;
}

.left {
    margin-left: -10%;
}

.spacer {
    height: 15vw;
}

.thumbnails{
    height: 22vw;
}

.projectlight h1{
    color: #0A0A0A;
}
.projectlight h2{
    color: #0A0A0A;
}

.projectlight:hover h1 {
    color: #D1D1D1;
}
.projectlight:hover h2 {
    color: #D1D1D1;
}

.projectdark h1 {
    color: #D1D1D1;
}
.projectdark h2 {
    color: #D1D1D1;
}
.projectdark:hover h1 {
    color: #0A0A0A;
}
.projectdark:hover h2 {
    color: #0A0A0A;
}


.project1:hover   {
    background: url(imgs/thumbnail1.png) no-repeat;
    background-size: contain;  
}
.project2:hover {
    background: url(imgs/thumbnail2.png) no-repeat;
    background-size: contain;
}

.project3:hover   {
    background: url(imgs/thumbnail3.png) no-repeat;
    background-size: contain;  
}

.project4:hover   {
    background: url(imgs/thumbnail4.png) no-repeat;
    background-size: contain;  
}

.project5:hover   {
    background: url(imgs/thumbnail5.png) no-repeat;
    background-size: contain;  
}

.project6:hover   {
    background: url(imgs/thumbnail6.png) no-repeat;
    background-size: contain;  
}


/* Section 2 */
#section2 {
    background: url(imgs/background2.png) no-repeat;
    background-size: contain;
    background-position-x: center;
}



/* Section 3 */

#section3 {
    background: url(imgs/background3.png) no-repeat;
    background-size: contain;
}


/* footer */

.footer{
    height: 35vw;
    background: url(imgs/footerbackground.png);
    background-size: contain;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

#homefooter{
    height: 35vw;
    background: url(imgs/homefooter.png);
    background-size: contain;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.footer h2 {
    color: #D1D1D1;
    font-size: 4vw;
}

.footer p {
    color: #D1D1D1;
}

.footer .icons{
    min-width: 20px;
    width: 5vw;
}
/* section 4 */
#section4 {
    background-color: #0A0A0A;
    height: 20vw;
}


@media (max-width: 990px) {
    #projects {
        margin-top: -10%;
        width: 2vw;
    }
    
    #thisway {
        width: 2vw;
    }

    #me {
        margin-top: -45vw;
    }


}

@media (max-width: 768px) {

    html, body {
        overflow-x: hidden;
      }

    body {
        position: relative
    }

    h2 {
        font-size: 1.5rem;
    }
    .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;
        width: 90vw;
    }
    #mainNavbar {
        width: 100vw;
        background-color: #0A0A0A;
    }
    #hero {
        height: 87vh;
        background: url(imgs/background.png) no-repeat;
        background-size: cover;
        width: 100vw;
        padding-right: 0%;
        padding-left: 0%;
        margin: 0%;
    }
    
    #intro{
        margin-top: 30%;

    }
    
    #intro img{
        width: 50vw;
    }
    
    #projects {
        padding-top: 20px;
        width: 5vw;
    }
    
    #thisway {
        padding-top: 20px;
        width: 5vw;
        margin-left: -4vw;
    }
    
    .container-fluid .inner{
        height: 100vh;
        width: 100vw;
        margin-top:-1000px;
        padding-top: 500px;
    }
    
    #dots {
        margin-top: 100px;
        padding-top: 40vw;
        width: 200px;
    }
    
    #juice {
        position: absolute;
        margin-top: 100px;
        width: 200px;
        max-width: 5rem;
        margin-left: 60vw;
 
    }
    #me {
        position: absolute;
        margin-left:50px;
        margin-top: -150vw;
        padding-top: 247px;
        width: 80vw;
    }
    
    #foil {
        
        width: 90vw;
        margin-top: -100px;
        margin-left: 15vw;
        margin-right: 0vw;

    }

    .thumbnails{
        height: 40vw;
        margin-left: 30px;
        

    }

    .container-fluid {

        height: 100vw;
        margin-top: 0px;
        padding-top: 0%;
    
    }


    
    #section1 {
        background: url(imgs/background1mobile.png) no-repeat;
        background-size: contain;
        background-position-x: center;
    }
    #vstripe1 {
        width: 0.3vw;
    }

    #section1foil {
        width: 7vw;
    }

    #LI {
    width: 20vw;
    }


    .smallup {
        margin-top: 0%;
    }
    .up {
        margin-top: 0%;
    }

    .upMore {
        margin-top: 0%;
    }

    .down {
        margin-top: 0%;
    }

    .left {
        margin-left: 0%;
    }

    .spacer {
        height: 0vw;
    }


    .projectlight h1{
        color: #D1D1D1;
    }
    .projectlight h2{
        color: #D1D1D1;
    }

    .projectlight:hover h1 {
        color: #D1D1D1;
    }
    .projectlight:hover h2 {
        color: #D1D1D1;
    }

    .projectdark h1 {
        color: #0A0A0A;
    }
    .projectdark h2 {
        color: #0A0A0A;
    }
    .projectdark:hover h1 {
        color: #0A0A0A;
    }
    .projectdark:hover h2 {
        color: #0A0A0A;
    }


    .project1  {
        margin-top: -120px;
        background: url(imgs/thumbnail1.png) no-repeat;
        background-size: contain;  
    }
    .project2 {
        margin-top: -20px;
        background: url(imgs/thumbnail2.png) no-repeat;
        background-size: contain;
    }

    .project3   {

        margin-top: -10px;
        background: url(imgs/thumbnail3.png) no-repeat;
        background-size: contain;  
    }

    .project4   {
        margin-top: -50px;
        background: url(imgs/thumbnail4.png) no-repeat;
        background-size: contain;  
    }

    .project5   {
        margin-top: -70px;

        background: url(imgs/thumbnail5.png) no-repeat;
        background-size: contain;  
    }

    .project6  {
        margin-top: 20px;

        background: url(imgs/thumbnail6.png) no-repeat;
        background-size: contain;  
    }


    /* Section 2 */
    #section2 {
        background: url(imgs/background2mobile.png) no-repeat;
        background-size: contain;
        background-position-x: center;
    }



    /* Section 3 */

    #section3 {
        padding-right: 0;
        padding-left: 0;
        background: url(imgs/background3mobile.png) no-repeat;
        background-size: contain;
    }

    .footer .icons{
        width: 15px;
    }

}



/* Other sites */

#sitetitle {
    background: url(imgs/other-site-title.png) no-repeat;
    background-size: contain;
    background-position-x: center;
    padding: 10vw;
}

#sitetitle h1{
    font-size: 8vw;
}

#sections {
    height: fit-content;
    background-color: #D1D1D1;
}

#sections h2 {
font-size: 5vw;
}

/* hyivyweb */

/* hyivyapp */
#lotsapps {
    background: url(imgs/appbackground.svg);
    background-size: contain;
    background-position-x: center;
    height: 126.6vw;
}


/*  */
#center-me {
    margin-left: auto;
    margin-right: auto;
}


/* Meraki */

.bg-bl{
    background-color: #0A0A0A;
    
}

.bg-bl p{
    color: white;
    
}

#merakisection2 {
    background: url(imgs/meraki3.png);
    background-size: contain;
    background-position-x: center;
    height: 52.45vw;
}

#merakibigsection {
    background: url(imgs/meraki6.png);
    background-size: contain;
    background-position-x: center;
    height: 152.6vw;

}

.lower {
    z-index: 1;
}

.higher {
    z-index: 2;
}
.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}



/* Animations */

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

.fade-in-left {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

.fade-in-right {
	-webkit-animation: fade-in-right 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

